
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 31);
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 110, 110);
    padding: 0px 10px 0px 10px;
    position: fixed;
    top: 0;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 25, 71);
}

li{
    display: inline;
    padding: 10px;
    text-decoration: none;
}

img{
    border-radius: 10px;
}

.image-main{
    display: flex;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    /* filter: opacity(0.5); */
}

.inputs1{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

#label1 , #submit1, #input1{
    background-color: azure;
    margin: 5px 5px 5px 5px ;
    padding: 5px 5px 5px 5px ;
    border-radius: 40px;
}

.content {
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 5rem;
    gap: 10%;
}

.card{
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    background-color: rgb(255, 144, 9);
    border-radius: 50px;
    margin-bottom: 50px;
    padding: 50px;
}

.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: rgb(255, 130, 130);
    bottom: 0;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content h1 {
    display: inline;
    margin-right: 3rem;
}   
